body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-silver {
    background-color: rgb(207, 214, 222);
}

.bg-darkblue {
    background-color: #102b3e;
}

.bg-cyan {
    background-color: rgb(58, 198, 234);
}

.col-darkblue {
    color: #102b3e;
}

.col-cyan {
    color: rgb(58, 198, 234);
}

.col-silver {
    color: rgb(207, 214, 222);
}

.border__rad-5px {
    border-radius: 5px;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.text-al__center {
    text-align: center;
}

.flex {
    display: flex;
}

.al-it__center {
    align-items: center;
}

.fl-di__col {
    flex-direction: column;
}


.wrap {
    row-gap: 10px;
}

.headbar {
    justify-content: flex-end;
}

.nav-button {
    width: 80%;
    justify-content: space-between;
}

.button {
    width: 40px;
    height: 20px;
}

.header {
    justify-content: center;
    height: 150px;
}

.boxframe {
    width: 90%;
    height: 300px;
    border: 2px solid rgb(58, 198, 234);
    border-radius: 15px;
    justify-content: center;
    row-gap: 10px;
}

.group-of-blocks {
    justify-content: space-evenly;
    row-gap: 10px;
}

.blocks-card {
    justify-content: center;
    row-gap: 5px;
    column-gap: 5px;
}

.blocks-card:hover {
    box-sizing: border-box;
    border: 2px solid rgb(58, 198, 234);
    border-radius: 15px;
}

.block-content {
    width: 150px;
    height: 150px;
}

.block-text {
    font-weight: bold;
}

.selection-part {
    justify-content: space-evenly;
    height: 300px;
}

.selection-block__content {
    margin: 0 20px;
    border-radius: 50%;
}

.selection-block__text {
    font-weight: bold;
}

.category-blocks {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    column-gap: 20px;
}

.category-block {
    margin-top: 10px;
    height: 300px;
    width: 250px;
    border: 2px solid rgb(58, 198, 234);
    border-radius: 5px;
}

.category-block-logo {
    margin-top: 5px;
    width: 240px;
    height: 240px;
}

.category-block > .block-text {
    width: 130px;
}

.lower-part__of-block {
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 50px;
    height: 15px;
    border-top: 2px solid rgb(58, 198, 234);
    font-size: 10px;
}

.category-block > .block-text {
    margin-top: 20px;
}

.info-parts {
    height: 250px;
    width: 650px;
    padding: 20px;
}

.info-part {
    justify-content: space-around;
    height: 100%;
    width: 50%;
}

.footer {
    height: 100px;
    justify-content: center;
    column-gap: 7px;
}

.page-selection {
    height: 20px;
    width: 20px;
    border-radius: 2px;
}