body {
    margin: 0px;
}

.wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.font-white {
    color: #f8f9fa;
}

.h150px {
    height: 150px;
}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widgets {
    background-color: #2269bb;
}

.all-types-of-widgets {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    height: 300px;
    row-gap: 70px;
}

.widget-box {
    background-color: #16457a;
    width: 250px;
    border-radius: 15px;
}

.contact {
    background-color: #2269bb;
}