body {
    margin: 0px;
}

.block-setup {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.firstOne {
    margin: 0px 400px;
    background-color: slategray;
    height: 100px;
}

.forTwoOther {
    height: 400px;
    display: flex;
}

.secondOne {
    margin-left: 400px;
    width: 80%;
    background-color: silver;
}

.thirdOne {
    margin-right: 400px;
    width: 20%;
    background-color: rgb(112, 134, 144);
}