body {
    margin: 0px;
    color: white;
}

.margin-0 {
    margin: 0 0 0 0px;
}

p {
    font-size: 22px;
}

.center-text__white-font {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header {
    padding-bottom: 30px;
    background-color: steelblue;
}

.navigation {
    padding: 15px 0;
    background-color: rgb(39, 42, 77);
}

.mainPart {
    height: 500px;
    display: flex;
}

.main {
    background-color: rgb(44, 149, 139);
    width: 85%;
}

.aside {
    background-color: rgb(72, 71, 119);
    width: 15%;
}

.footer {
    padding: 15px 0;
    background-color: rgb(142, 212, 205);
}